@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
body {
    font-family: var(--paragraph--front);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #DAB797;
    --secondary-color: #9CF0FC;
    --accent1-color:#DAB49D;
    --accent2-color:#F3E9DC;
    
    --heading-font:serif, Roboto;
    --paragraph-font: serif,Roboto;

    --nav-backgroud-color:#F3E9DC;
    --nav-link-color:#9CF0FC;
    --nav-hover-link-color:#DAB49D;
    --nav-hover-background-color:#F3E9DC;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav {
    background-color: var(--nav-backgroud-color);
    font-size: 1.rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1.rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
