@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    }
    :root {
    --primary-color : #B7D3F2;
    --secondary-color : #8A84E2;
    --accent1-color : #84AFE6;
    --accent2-color : #AFAFDC;
    --heading-font : Anton,Roboto;
    --paragraph-font : Anton,Roboto;
    --nav-backgroud-color : #84AFE6;
    --nav-link-color : #B7D3F2;
    --nav-hover-link-color : #8A84E2;
    --nav-hover-background-color : #AFAFDC;
    }
    .hero h1 {
    color : white;
    background-color : #59505b;
    position : absolute;
    top : 260px;
    text-align : center;
    padding : 10px;
    opacity : 0.6;
    width : 100%;
    }
    h2 {
    color : var(--secondary-color);
    }
    p {
    font-size : small;
    }
    a {
    color : black;
    text-decoration : none;
    }
    article img {
    float : right;
    content : attr(small);
    resize: 20px;
    }
    article {
    float : right;
    position : absolute;
    background-color : #59505b;
    top : 290px;
    width : 30%;
    height: 50px;
    }
    .hero img {
    display : block;
    width : 100%;
    height : auto;
    }
