@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap') ;
@font-face {
font-family : 'Roboto';
font-style : normal;
font-weight : 400;
font-display : swap;
src : url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
font-family : 'Rock Salt';
font-style : normal;
font-weight : 400;
font-display : swap;
src : url(https://fonts.gstatic.com/s/rocksalt/v22/MwQ0bhv11fWD6QsAVOZbsA.ttf) format('truetype');
}
@font-face {
font-family : 'Roboto';
font-style : normal;
font-weight : 400;
font-display : swap;
src : url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
font-family : 'Rock Salt';
font-style : normal;
font-weight : 400;
font-display : swap;
src : url(https://fonts.gstatic.com/s/rocksalt/v22/MwQ0bhv11fWD6QsAVOZbsA.ttf) format('truetype');
}
body {
max-width : 960px;
padding : 20px;
}

:root {
    --primary-color:#B7D3F2;
    --secondary-color:#8A84E2;
    --accent1-color:#84AFE6;
    --accent2-color:#AFAFDC;
    
    --heading-font: 'Rock Salt',Roboto;
    --paragraph-font:'Rock Salt',Roboto;
    
    --nav-backgroud-color:#84AFE6;
    --nav-link-color:#B7D3F2;
    --nav-hover-link-color:#8A84E2;
    --nav-hover-background-color:#AFAFDC;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

header {
padding : 20px;
background-color :var(--nav-backgroud-color);
}
p {
padding : 25px;
}
nav a:link, nav a:visited {
color : var(--nav-link-color);
}
nav a:hover {
color : var(--nav-hover-link-color);
background-color :var(--nav-backgroud-color);
}
